.board {
    display: flex;
    flex-flow: row wrap;
}
.board-header {
    flex: 0 100%;
    display: flex;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 177, 79);
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.subboards {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
.subboard {
    flex: 1 100%;
    background-color: rgb(245 245 245);
    padding: 10px;
}
.subboard:not(:last-child) {
    margin-bottom: 2%;
}

@media all and (min-width: 800px) {
    .subboard {
        flex: 1 1;
    }
    .subboard:not(:last-child) {
        margin-bottom: 0%;
        margin-right: 2%;
    }
}



.subboard-header {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}

.subboard-task-count-display {
    width: 95%;
    text-align: right;
}

.task-card-header {
    font-weight: bold;
}

.task-card {
    padding: 0px;
    margin-bottom: 20px;
}
.task-card input, textarea {
    border: none;
    padding: 0px;
    width: 100%;
}
.task-card input {
    font-size: 1.1em;
    padding-bottom: 5px;
    font-weight: 500;
}
.task-card textarea {
    font-size: 1em;
}

.task-card-input-area {
    background-color: white;
    padding: 5px;
    margin: 10px;
}


input, textarea, button {
    font-family:inherit;
}

.drag-border-before {
    border-top: 2px solid blue;
}

.add-task-card-btn {
    background-color: white;
    border: 1px solid rgb(160, 160, 160);
    font-size: 1em;
    width: 100%;
    margin: 10px;
    padding: 5px 0 5px 0;
    transition: background-color 0.3s;
}
.add-task-card-btn:hover {
    background-color: rgb(236, 236, 236);
}
.subboard-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}