.board {
    display: flex;
    flex-flow: row wrap;
}
.board-header {
    flex: 0 100%;
    display: flex;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 177, 79);
    color: white;
    font-weight: bold;
}

.subboards {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
.subboard {
    flex: 1 1;
}

.subboard-header {
    text-align: center;
    font-weight: bold;
}

.subboard-task-count-display {
    width: 100%;
    text-align: right;
}

.task-card-header {
    font-weight: bold;
}

.task-card input {
    border: none;
    width: 90%;
}

.task-card textarea {
    width: 90%;
}

input, textarea, button {
    font-family:inherit;
}